.listing-marker-info{
    position:absolute;

    top: -48px;
    right: -50px;
    min-width: 78px;
    max-height: 54px;
    /* padding: 20px; */
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    /* font-size: 16px; */
    text-align: center;
    color: #fff;
    line-height: 17px;
    z-index: 100;

}

