.listing-details-page{

    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.listing-gallery{
    margin-bottom: 50px;
}



.listing-details-page section{
    margin-right: 20px;
}

.listing-gallery img{
    width: 200px;
}

.listing-detailed-info{
    min-width: 350px;
    max-width: 650px;
}

.listing-detailed-info section{
    margin-bottom: 20px;
}

.listing-detailed-info-header {
    position: relative;
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;

}

.listing-detailed-info-header button{
    margin-left: 0px;
    margin-right: 30px;
}


.show-page-font-awesome-favorite i span{
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    color: black;
    font-weight: 100;
}
.show-page-font-awesome-favorite .fa-solid{
    color:blue
}

#contact-agent-btn{
        margin: 0px 0px 0px;
        font-family: Tahoma, Geneva, sans-serif;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0px;
        text-transform: none;
        text-align: center;
        box-sizing: border-box;
        width: auto;
        border: 1px solid rgb(0, 106, 255);
        border-radius: 3px;
        transition: all 0.2s ease 0s;
        padding: 9px 20px;
        cursor: pointer;
        height: 42px;
        line-height: 22px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 106, 255);
        display: inline-block;
        text-decoration: none;
}
    
#contact-agent-btn:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 106, 255);
    
    }


/* #listing-short-description #listing-price {
    margin-bottom: 60px;
} */
#listing-short-description #listing-price{
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}
#listing-short-description .bold-numbers{
    font-weight: bold;
}

#listing-deal-type h4{
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
}


#listing-features{
    margin-top: 40px;
}
#listing-features div{
    margin-bottom: 20px;
}
#listing-features i{
    font-size: 26px;
    color: rgb(36, 125, 250);
}

#listing-overview {
    margin-top: 50px;
}


#listing-overview h4{
    font-weight: bold;
    font-size: 22px;
}

#listing-overview p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#listing-map{
    height: 400px;
    width: 100%;
}

#listing-map h4 {
    font-weight: bold;
    font-size: 22px;
}