.listings-main{
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1200px; 
}
.listings-main h1{
    padding-left: 20px;
}

.listing-container{
    box-sizing: border-box;
    overflow: hidden;
    
    width:302px;
    height: 299px;
    
    font-size: 12px;
    border: 1px solid black;
    border-radius: px;
    margin: 5px 2px;
    padding: 20px;
    cursor: pointer;
    
}
.listing-wrapper{
    text-align: center;
}

.listings-output{
    display: flex;
    
    justify-content: center;
   
}

/* .listing-img{
    display: block;
    align-items: center;
} */
#home-logo{
    height: 70px;

}

.listing-detail{
    margin-top: 20px;
    line-height: 25px;
    font-size: 16px;
}
.rec.rec-arrow{
    background-color: rgba(128, 128, 128, 0.086);
}

.rec.rec-arrow:hover:enabled{
    background-color: rgba(46, 118, 235, 0.643);
} 
.rec.rec-arrow:focus:enabled{
    background-color: rgba(46, 118, 235, 0.643);
}
.rec.rec-arrow-right{
    margin-left: 0px;
    margin-right: 20px;
}
.rec.rec-arrow-left{
    margin-left: 20px;
}

.rec.rec-dot_active{
    background-color: rgba(46, 118, 235, 0.643);
}