.listings-main{
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1200px; 
}
.listings-main h1{
    
    padding-left: 80px;
    color: rgb(42, 42, 51);
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-size: 20px;
    line-height: 24px;
}

#hr{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    max-width: 1100px;
}

.listing-container{
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    
    width:337px;
    height: 299px;
    /* padding: 8px; */
    font-size: 12px;
    border: 0px solid rgb(209, 209, 213);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin: 5px 2px;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 4px 0px;
}

.listing-container:hover{
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 8px 0px;
}
.listing-wrapper{
    text-align: center;
}

.listings-output{
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}

/* .listing-img{
    display: block;
    align-items: center;
} */
#home-logo{
    height: 70px;

}

.listing-detail{
    margin-top: 20px;
    line-height: 25px;
    font-size: 16px;
}
.rec.rec-arrow{
    background-color: rgba(128, 128, 128, 0.086);
}

.rec.rec-arrow:hover:enabled{
    background-color: rgba(46, 118, 235, 0.643);
} 
.rec.rec-arrow:focus:enabled{
    background-color: rgba(46, 118, 235, 0.643);
}
.rec.rec-arrow-right{
    margin-left: 0px;
    margin-right: 20px;
}
.rec.rec-arrow-left{
    margin-left: 20px;
}

.rec.rec-dot_active{
    background-color: rgba(46, 118, 235, 0.643);
}