.search-filter-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.form-wrapper{
    display: flex;
    position: relative;
}

.form-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin: 0;
    padding-left: 16px;
    padding-right: 22px;
    background-color: #f6f6fadb;
    border: 1px solid;
    border-color: #D1D1D5;
    border-radius: 4px;
    box-sizing: border-box;
    caret-color: #006AFF;
    cursor: text;
    outline: none;
    box-shadow: none;
    color: #2A2A33;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    font-family: "Open Sans","Adjusted Arial",Tahoma,Geneva,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 24px;
    height: auto;
    color:black;
    max-width: 620px;

    min-width: 420px;

    height: 55px;
    
}

/* datalist{
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid gray;
}

datalist option {
    padding: 10px;
    font-size: 16px;
    background-color: white;
  }
  
datalist option:hover {
    background-color: lightgray;
    cursor: pointer;
  } */

.form-input::placeholder{
    color: #2A2A33;
}
.form-input:focus{
    box-shadow: 0 0 0px 1px #fff, 0 0 2px 3px #a6e5ff, 0 0 2px 4px #006aff;
}

[suggestedQueries]::-webkit-calendar-picker-indicator {
    display: none;
  }

#search-filter-btn{
    color: #2A2A33;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    font-family: "Open Sans","Adjusted Arial",Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    line-height: 24px;
    height: auto;
    position: absolute;
    top: -6px;
    right: 13px;
    z-index: 1;
}

#search-filter-btn i{
    font-size: 18px;
}

#search-filter-btn i:hover{
    color: blue;
    scale: 1.1;
}



/* filter section */
.filters-wrapper{
    height: 80px;
    display: flex;
    flex-direction: row;
}


.filters-wrapper select{
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    margin: 0px;
    padding: 9px 16px;
    /* padding-right: 20px; */
    background-color: rgb(246, 246, 250);
    border: 1px solid rgb(209, 209, 213);
    border-radius: 4px;
    box-sizing: border-box;
    caret-color: rgb(0, 106, 255);
    cursor: text;
    outline: none;
    box-shadow: none;
    color: rgb(42, 42, 51);
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: auto;
    /* margin-top: 10px; */
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: #f6f6fadb;
    /* border: 1px solid rgb(0, 106, 255); */
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 24px; */
    /* height: auto; */
    width: 155px;
}

.filters-wrapper select:focus{
    box-shadow: 0 0 0px 1px #fff, 0 0 2px 3px #a6e5ff, 0 0 2px 4px #006aff;
}

#search-result-header{
    position: relative;
}

.spinner-container{
    position: absolute;
    top: -60px;
    left:47%
}

/*
*/







@media only screen and (max-width: 500px){
    .form-input{
        min-width: 300px;
    }

    .search-filter-form{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }
}