footer{

margin-top: 25px;

}
.footer-info{
    display: flex;
    margin: 0 auto;
    max-width: 1150px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}


.social_media i {
    font-size: 40px;
    margin-right: 15px;
    color: rgb(26, 101, 251);
}

.social_media i:hover{
    transition: 0.3s;
    scale:1.1
}

#footer-logo{
    width:165px;
    margin: 0 auto;
    cursor: pointer;
}
#footer-logo:hover{
    transition: 0.5s;
    scale: 1.1;
}

.footer-text{
    font-family: "Open Sans","Adjusted Arial",Tahoma,Geneva,sans-serif;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.footer-text a{
    font-size: 16px;
    color: rgb(26, 101, 251);;
}

.footer-text a:hover{
    color: rgb(38, 84, 176);;
}



.footer-big-logo{
    height: 160px;
    background-image: url('../../assets/footer.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1123px) {
    .footer-big-logo{
        height: 125px;

    }
}

@media only screen and (max-width: 900px) {
    .footer-big-logo{
        height: 96px;

    }
}

@media only screen and (max-width: 740px) {
    .footer-big-logo{
        height: 84px;

    }
}

@media only screen and (max-width: 625px) {
    .footer-big-logo{
        height: 68px;

    }
}

@media only screen and (max-width: 450px) {
    .footer-big-logo{
        height: 54px;
    }

    #footer-logo{
        width:110px
    }

    .footer-text {
        line-height: 16px;
        font-size: 14px;
    }

    .footer-text a {
        font-size: 12px;
        color: rgb(26, 101, 251);
    }

}