header{
    /* max-width: 1280px; */
    /* background-color: #f9f9fb; */
    border-bottom: 1px solid rgb(216, 216, 216);
    min-height: 79px;
    
}

.header-wrapper {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    /* margin-left:80px;*/
    /* margin-right: 80px;  */
    max-width: 1200px; 
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px;  */
}
/* <button tabindex="0" class="sc-bcXHqe kXteup rec rec-arrow rec rec-arrow-right" type="button">❯</button> */
nav a{
    font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
    margin-left: 40px;
    color: rgb(42,42,51);
    cursor: pointer;
    font-weight: 300;
    line-height: 28px;
    text-size-adjust: 100%;
    font-size: 18px;
}
nav a:hover{
    color: rgb(0, 106, 255)
}

#logo{
    /* margin-left: -40px; */
    width:80px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#logo:hover{
    /* box-shadow: 1px 1px 1px 1px rgb(211, 203, 203); */
    /* box-shadow: 0.5px 0.5px 1px 1px rgb(13, 69, 153); */
    /* border: 0.1px solid rgb(13, 69, 153); */
    transition: 0.5s;
    scale: 1.1;
}
button{
    background: none;
    border: none;
    font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
    margin-left: 40px;
    /* font-size: 20px; */
    box-sizing: border-box;
    color: rgb(42,42,51);
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-size-adjust: 100%;
}

button:hover {
    color: rgb(0, 106, 255)
}

#session-links{
    margin-right: 20px;
}

#dropdown{
    display: flex;
    flex-direction: column;
    width: 100px;
    position: relative;
    
    
}
#dropdown ul{
    min-width: 200px;
    /* padding: 0px; */
}
.profile-dropdown{
    box-sizing: border-box;
    color: rgb(42,42,51);
    box-shadow: rgb(0 0 0 / 30%) 0px 8px 12px 0px;
    font-family: 'Open Sans',Gotham,gotham,Tahoma,Geneva,sans-serif;
    font-size: 15px;
    border-radius: 3px;
    max-width: 360px;
    max-height: 400px;
    line-height: 40px;
    background-color: rgba(255,255,255,1);
    position: absolute;
    top: 50px;
    right: -20px;
    text-align: center;
    z-index: 100;
    
}

.profile-dropdown li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.133);
}
.profile-dropdown li:hover{
    color: rgb(0, 106, 255)
}
.profile-dropdown li button{
    font-size: 15px;
    margin-left: -8px;
}

#logout-btn{
    font-weight: bold;
}

.font-awesome-login{
    font-size: 30px;
    /* padding-right: 30px; */
    /* color: red; */
}